.login-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#1e3c72,#2a5298);
}

.login-card{
  background:white;
  padding:40px;
  width:350px;
  border-radius:10px;
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
  text-align:center;
}

.login-card h2{
  margin-bottom:5px;
}

.subtitle{
  color:gray;
  margin-bottom:25px;
}

.login-card input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:6px;
  border:1px solid #ccc;
  font-size:14px;
}

.login-card input:focus{
  outline:none;
  border-color:#2a5298;
}

.login-card button{
  width:100%;
  padding:10px;
  background:#ff9800;
  border:none;
  border-radius:6px;
  color:white;
  font-size:16px;
  cursor:pointer;
  margin-top:10px;
}

.login-card button:hover{
  background:#e68900;
}

.register-text{
  margin-top:20px;
  font-size:14px;
}

.register-text span{
  color:#2a5298;
  cursor:pointer;
  font-weight:bold;
}